/*all section titles, so about and contact, work does not have a section title*/
.sectionTitle {
  font-size: 50px;
}

/*navbar, in smaller devices navsmall shows, in bigger devices nav shows*/
.nav {
  padding: 40px !important;
  display: block;
}

.navsmall {
  display: none;
}

.brandTitle {
  font-size: 50px;
  text-decoration: none;
  color: white;
}

/*work*/
.workTitle {
  font-size: 70px;
}

.gallery {
  margin-top: 40px;
  overflow-x: auto;
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
}

.card {
  border-radius: 40px;
  width: 400px;
  height: 450px;
  padding: 40px;
  background-color: rgba(64, 64, 64, 0.6);
  flex-shrink: 0;
  margin-right: 20px;
  color: white;
  position: relative;
}

.cardlink {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.card:last-child {
  margin-right: 0;
}

/*work projects, modal that pops up after clicking on card*/
.modaldialog {
  height: 100% !important;
  width: 100% !important;
  padding: 0;
  margin: 0;
}

.modalContent {
  background-color: rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(2em);
  color: black;
  padding: 40px;
  min-width: 100vw;
  min-height: 100vh;
}

.tag {
  background-color: rgba(64, 64, 64) !important;
  border-radius: 40px !important;
  color: rgba(255, 255, 255, 0.7) !important;
  padding: 0.5rem 1rem !important;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*about*/
.me {
  border-radius: 40px;
  width: 100%;
  height: 400px;
  object-fit: cover;
  object-position: top;
  margin-top: 40px;
}

.descMe {
  font-size: 25px;
  margin-top: 40px !important;
}

.descSmall {
  position: absolute;
  bottom: 0;
}

.skills {
  margin-top: 100px;
  margin-bottom: 100px;
}

.skillcontainer {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.skill {
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 20px;
  border-radius: 40px !important;
  color: rgba(255, 255, 255, 0.7) !important;
}

.approachList {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 40px;
  margin-top: 40px;
}

.approach {
  display: flex;
  align-items: start;
  gap: 20px;
}

.clients {
  margin-top: 70px;
  overflow: hidden;
}

.clients > .sectionTitle {
  margin-bottom: 40px !important;
}

.clientList {
  display: flex;
  width: 100% !important;
  animation: infinitescroll 10s linear infinite;
}

.clientList h2 {
  white-space: nowrap;
  margin-right: 20px !important;
}

@keyframes infinitescroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

/*contact*/
.rowcontact {
  margin: 40px 0px 0px 0px;
}

.cardContact {
  border-radius: 40px;
  padding: 40px;
  background-color: rgba(64, 64, 64, 0.6);
  position: relative;
}

.bottomCardContact {
  position: absolute;
  bottom: 40px;
  left: 40px;
  right: 40px;
}

.socials {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.socials > a {
  margin-bottom: 10px;
  border-radius: 40px;
  padding: 20px;
  border: 1px solid rgba(64, 64, 64, 0.6);
  display: flex;
  align-items: center;
}

.socials > a:hover {
  background-color: rgba(255, 255, 255, 0.9) !important;
  border-radius: 40px !important;
  color: black !important;
  backdrop-filter: blur(2em) !important;
  display: flex;
  align-items: center;
}

.socials > a:last-child {
  margin-bottom: 0;
}

.icon {
  font-size: 25px;
  line-height: 1;
  margin-right: 20px;
}

.contactimage {
  width: 100% !important;
  height: auto;
}

/*in smaller devices*/
@media screen and (max-width: 768px) {
  /*all section titles*/
  .sectionTitle {
    font-size: 30px;
  }

  /*nav*/
  .nav {
    padding: 20px !important;
    display: none;
  }

  .navsmall {
    display: block;
  }

  .brandTitle {
    font-size: 30px;
  }

  .scrollinks {
    position: fixed;
    bottom: 20px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .scrollinks > a {
    padding: 0.5rem 1rem;
  }

  /*work*/
  .workTitle {
    font-size: 40px;
  }

  .card {
    width: 300px;
    height: 350px;
    padding: 20px;
  }

  /*work projects*/
  .workproject {
    padding: 20px !important;
  }

  .modalContent {
    padding: 20px;
  }

  /*about*/
  .descSmall {
    position: relative;
  }

  .descMe {
    margin-bottom: 20px !important;
  }

  /*contact*/
  .colSocial {
    padding: 0;
    margin-top: 20px;
  }

  .cardContact {
    height: 300px;
  }

  .rowcontact {
    margin-top: 40px !important;
  }
}

@media screen and (max-width: 575px) {
  .skillcontainer {
    margin-top: 40px;
  }
}
