@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=DM+Sans:ital,opsz,wght@0,9..40,100;0,9..40,200;0,9..40,800;0,9..40,1000;1,9..40,300;1,9..40,400;1,9..40,500;1,9..40,600&family=Hanken+Grotesk:wght@500;700;800&family=Inter:wght@400;700;800&family=Kumbh+Sans:wght@400;700&family=Lato:wght@100;300;400;700;900&family=League+Spartan:wght@500;600;700&family=Manrope:wght@800&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans:wght@300;400;500;600;700;800&family=Outfit:wght@400;700&family=Poppins:ital,wght@0,700;1,400;1,800&family=Raleway:wght@100;200;300;500;600;700;800&family=Roboto:wght@400;700&family=Rubik:wght@400;500;700&family=Work+Sans:wght@100;200;300;400;500;700;800&display=swap");
/*
font-family: 'Bebas Neue', sans-serif;
font-family: 'DM Sans', sans-serif;
font-family: 'Hanken Grotesk', sans-serif;
font-family: 'Inter', sans-serif;
font-family: 'Kumbh Sans', sans-serif;
font-family: 'Lato', sans-serif;
font-family: 'League Spartan', sans-serif;
font-family: 'Manrope', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Outfit', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Rubik', sans-serif;
font-family: 'Work Sans', sans-serif;
*/

/*hide scrollbar*/
::-webkit-scrollbar {
  width: 0;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: transparent;
}

body {
  padding: 0px 40px 40px 40px;
  font-family: "Inter", sans-serif !important;
  background-color: black !important;
  color: white !important;
}

p,
small {
  color: rgba(255, 255, 255, 0.7) !important;
  margin: 0 !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 !important;
}

.nonactive-link {
  background-color: rgba(64, 64, 64, 0.6) !important;
  border-radius: 40px !important;
  color: rgba(255, 255, 255, 0.7) !important;
  margin-left: 10px;
  backdrop-filter: blur(2em) !important;
}

.active-link {
  background-color: rgba(255, 255, 255, 0.9) !important;
  border-radius: 40px !important;
  color: black !important;
  margin-left: 10px;
  backdrop-filter: blur(2em) !important;
}

.nonactive-link:first-child,
.active-link:first-child {
  margin-left: 0px;
}

#work {
  margin-top: 200px;
}

#about,
#contact,
#projects {
  margin-top: 100px;
  margin-bottom: 100px;
}

#contact {
  margin-bottom: 0;
}

@media screen and (max-width: 768px) {
  body {
    padding: 20px;
  }

  #about,
  #contact,
  #work,
  #projects {
    margin-top: 100px;
    margin-bottom: 100px;
  }
}
